<header>
  <nav class="navbar">
    <!-- Logo -->
    <a href="/" class="logo">
      <img src="assets/logo.jpg" alt="Logo Amipesca" />
    </a>

    <!-- Menu -->
    <div class="nav-container">
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/about">Sobre Nós</a></li>
        <li><a href="/products">Produtos</a></li>
        <li><a href="/contact">Contato</a></li>
        <li><a href="/receitas">Receitas</a></li> <!-- Novo link -->
      </ul>
    </div>
  </nav>
</header>
