/* Estilo do Header */
.navbar {
  background-color: white; /* Fundo branco */
  padding: 20px 40px; /* Altura maior */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espaço entre logo e menu */
}

/* Logo */
.logo img {
  height: 50px; /* Tamanho da logo */
}

/* Menu */
.nav-container {
  display: flex;
  align-items: center;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 30px; /* Espaço entre os itens */
  margin: 0;
  padding: 0;
}

/* Estilo dos links */
.nav-menu li a {
  text-decoration: none;
  color: #64b5f6;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

/* Hover nos links */
.nav-menu li a:hover {
  color: #003f7f; /* Azul mais escuro */
}
